<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <h5 class="card-header">
        User <%= current_user.name %>
      </h5>

      <div class="card-body">
        <h2 class="text-center btn-base"><%= current_user.score %> Points</h1>
        <% was_validated = resource.errors.any? %>

        <% form_html_options = { method: :put, novalidate: true, class: "mb-3" } %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: form_html_options) do |f| %>
          <% if flash[:notice].present? %>
            <div class="alert alert-info" role="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>

          <% if flash[:alert].present? %>
            <div class="alert alert-danger" role="alert">
              <%= flash[:alert] %>
            </div>
          <% end %>
          
          <!--username attribute-->
          <% if current_user.score >= 100 %>
          <div class="form-group">
            <%= f.label :username, 'Edit Username' %>
            <%= f.text_field :username, autofocus: true, class: "form-control" %>
          </div>
          
          <!--pw for conf-->
          <div class="form-group">
            <% current_password_was_invalid = resource.errors.include?(:current_password) %>

            <% current_password_class = "form-control" %>

            <% if was_validated %>
              <% if current_password_was_invalid %>
                <% current_password_class << " is-invalid" %>
              <% else %>
                <% current_password_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :current_password %>

            <%= f.password_field :current_password, class: current_password_class, autocomplete: "off" %>

            <% if current_password_was_invalid %>
              <% resource.errors.full_messages_for(:current_password).each do |message| %>
                <div class="invalid-feedback">
                  <%= message %>
                </div>
              <% end %>
            <% end %>

            <small class="form-text text-muted">
              We need your current password to confirm your changes.
            </small>
          </div>
          <%= f.submit "Update", class: "btn btn-block btn-outline-primary" %>
          <% else %>
          <div class="form-group">
            <label for="username">
              Edit Username (Unlocked @ 100 total points)
            </label>
            <input type="text" id="username" name="username" class="form-control" value="<%= current_user.name %>" disabled>
          </div>
          <% end %>
      
          <!--email class-->
          <!--<div class="form-group">-->
          <!--  <% email_was_invalid = resource.errors.include?(:email) %>-->

          <!--  <% email_class = "form-control" %>-->

          <!--  <% if was_validated %>-->
          <!--    <% if email_was_invalid %>-->
          <!--      <% email_class << " is-invalid" %>-->
          <!--    <% else %>-->
          <!--      <% email_class << " is-valid" %>-->
          <!--    <% end %>-->
          <!--  <% end %>-->

          <!--  <%= f.label :email %>-->

          <!--  <%= f.email_field :email, autofocus: true, class: email_class %>-->

          <!--  <% if email_was_invalid %>-->
          <!--    <% resource.errors.full_messages_for(:email).each do |message| %>-->
          <!--      <div class="invalid-feedback">-->
          <!--        <%= message %>-->
          <!--      </div>-->
          <!--    <% end %>-->
          <!--  <% end %>-->

          <!--  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>-->
          <!--    <small class="form-text text-muted">-->
          <!--      Currently awaiting confirmation for <%= resource.unconfirmed_email %>.-->
          <!--    </small>-->
          <!--  <% end %>-->
          <!--</div>-->

          <!--password -->
          <!--<div class="form-group">-->
          <!--  <% password_was_invalid = resource.errors.include?(:password) %>-->

          <!--  <% password_class = "form-control" %>-->

          <!--  <% if was_validated %>-->
          <!--    <% if password_was_invalid %>-->
          <!--      <% password_class << " is-invalid" %>-->
          <!--    <% else %>-->
          <!--      <% password_class << " is-valid" %>-->
          <!--    <% end %>-->
          <!--  <% end %>-->

          <!--  <%= f.label :password %>-->

          <!--  <%= f.password_field :password, class: password_class, autocomplete: "off" %>-->

          <!--  <% if password_was_invalid %>-->
          <!--    <% resource.errors.full_messages_for(:password).each do |message| %>-->
          <!--      <div class="invalid-feedback">-->
          <!--        <%= message %>-->
          <!--      </div>-->
          <!--    <% end %>-->
          <!--  <% end %>-->

          <!--  <small class="form-text text-muted">-->
          <!--    Leave blank if you don't want to change it.-->

          <!--    <% if @minimum_password_length %>-->
          <!--      <%= @minimum_password_length %> characters minimum.-->
          <!--    <% end %>-->
          <!--  </small>-->
          <!--</div>-->

          <!--pc-->
          <!--<div class="form-group">-->
          <!--  <% password_confirmation_was_invalid = resource.errors.include?(:password_confirmation) %>-->

          <!--  <% password_confirmation_class = "form-control" %>-->

          <!--  <% if was_validated %>-->
          <!--    <% if password_confirmation_was_invalid %>-->
          <!--      <% password_confirmation_class << " is-invalid" %>-->
          <!--    <% else %>-->
          <!--      <% password_confirmation_class << " is-valid" %>-->
          <!--    <% end %>-->
          <!--  <% end %>-->

          <!--  <%= f.label :password_confirmation %>-->

          <!--  <%= f.password_field :password_confirmation, class: password_confirmation_class, autocomplete: "off" %>-->

          <!--  <% if password_confirmation_was_invalid %>-->
          <!--    <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>-->
          <!--      <div class="invalid-feedback">-->
          <!--        <%= message %>-->
          <!--      </div>-->
          <!--    <% end %>-->
          <!--  <% end %>-->
          <!--</div>-->

          <!--<%= f.submit "Update", class: "btn btn-block btn-outline-primary" %>-->
        <% end %>

        <!--<%= link_to "Back", :back, class: "btn btn-block btn-outline-secondary" %>-->
      </div>

      <div class="card-footer">
        <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-block btn-link", method: :delete %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <h5 class="card-header">
        Point History
      </h5>

      <div class="card-body">
        <% if current_user.score >= 25 %>
          <% current_user.scores.each do |score| %>
              Question: <%= score.question.question %>
              <hr>
          <% end %>
        <% else %>
        <h1 class="text-center">(unlocked @ 25 points)</h1>
        <% end %>
      </div>

      <div class="card-footer">
        <%= link_to "Download to .csv (coming soon)", "#", class: "btn btn-block btn-link" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <h5 class="card-header">
        Questions Submissions
      </h5>

      <div class="card-body">
          <% current_user.questions.each do |question| %>

              Question: <%= question.question %>
              <br>
              Answer: <%= question.answer %>
              <br>
              Answer Explanation: <%= question.answer_explanation %>
              <br>
              Subject: 
              <% if question.chat_room.present? %>
              <%= question.chat_room.title %>
              <% else %>
              (defunct)
              <% end %>
              <hr>

          <% end %>
      </div>

      <div class="card-footer">
        <%= link_to "Submit another one", "/questions/new", class: "btn btn-block btn-link" %>
      </div>
    </div>
  </div>
</div>