<h1>
  All questions
</h1>

<a href="/questions/new">
  Add a new question
</a>

<table class="table">
  <tr>
    <!--<th>-->
    <!--  ID-->
    <!--</th>-->

    <th>
      Question
    </th>

    <th>
      Answer
    </th>

    <th>
      Answer explanation
    </th>

    <th>
      Subject
    </th>

    <th>
      User
    </th>

    <th>
      Created at
    </th>

    <th>
      <!--State-->
    </th>

    <th>
    </th>
  </tr>

  <% @questions.each do |question| %>
  <tr>
    <!--<td>-->
    <!--  <%= question.id %>-->
    <!--</td>-->

    <td>
      <%= simple_format(question.question) %>
    </td>

    <td>
      <%= question.answer %>
    </td>

    <td>
      <%= question.answer_explanation %>
    </td>

    <td>
      <% if question.chat_room.present? %>
      <%= question.chat_room.title %>
      <% else %>
      (defunct)
      <% end %>
    </td>

    <td>
      <%= question.user.name %>
    </td>

    <td>
      <%= time_ago_in_words(question.created_at) %> ago
    </td>

    <td>
      <!--<%= question.state %>-->
    </td>

    <td>
      <a href="/questions/<%= question.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
