<!DOCTYPE html>
<html>
<head>
  <title>GameBooth</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      <strong><span class="usermessage">Game</span><span class="username">Booth</span></strong>
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a href="/questions/new" class="nav-link">
      Submit a Question 
    </a>
    <a href="/questions" class="nav-link">
      Questions 
    </a>
    <a href="/messages" class="nav-link">
      Messages 
    </a>
    <a href="/scores" class="nav-link">
      Scores 
    </a>


    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
      <!--</ul>-->
      <!-- Conditional elements -->
      <!--<ul class="navbar-nav">-->
        <% if current_user.blank? %>
          <li class="nav-item">
            <a href="/users/sign_in" class="nav-link">
              Sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/users/sign_up" class="nav-link">
              Sign Up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/users/edit" class="nav-link">
              <%= current_user.email %>
            </a>
          </li>

          <li class="nav-item">
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
<!-- navbar end -->

<div class="container">
  <%= yield %>
</div>

<!--<footer>-->
<!--  <div class="container">-->
<!--  </div>-->
<!--</footer>-->
</body>
</html>
