<!DOCTYPE html>
<html>
<head>
  <title>GameBooth</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" >
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      <strong><span class="usermessage">Game</span><span class="username">Booth</span></strong>
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/questions/new" class="nav-link">
            Submit a Question 
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/questions" class="nav-link">
            Submitted Questions
          </a>
        </li>
        <% if current_user.present? && current_user.id == 1 %>
        <li class="nav-item">
          <a href="/messages" class="nav-link">
            Messages 
          </a>
        </li>
        <li class="nav-item">
          <a href="/scores" class="nav-link">
            Scores 
          </a>
        </li>
        <% end %>
      </ul>
      <!-- Conditional elements -->
      <ul class="navbar-nav">
        <% if current_user.blank? %>
          <li class="nav-item">
            <a href="/users/sign_in" class="nav-link">
              Sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/users/sign_up" class="nav-link">
              Sign Up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/users/edit" class="nav-link">
              (<%= current_user.name %>)
            </a>
          </li>

          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
<!-- navbar end -->


      
<div class="container">
  <!--flash keys-->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>
</div>

<!--<footer>-->
<!--  <div class="container">-->
<!--  </div>-->
<!--</footer>-->
</body>
</html>
